/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background: #070808;
}

/* TOP HEADER */
.top-header {
  width: 100%;
  padding: 10px 0;
  background: #253D38;
  backdrop-filter: blur(14px);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 20;
  border-bottom: 1px solid #253D38;
}

.search-bar {
  width: 290px;
  padding: 8px 14px;
  position: relative;
  border-radius: 6px;
  border: 1px solid darkgreen;
  left: -575px;
}




/* SIDEBAR */
.sidebar {
  display: flex;
  flex-direction: row;
  padding-top: 55px;
}

/* LEFT MENU */
.menu {
  width: 58px;
  background: #1c3e38;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-right: 1px solid #16352f;
  align-items: center;
}

.menu p {
  width: 38px;
  height: 38px;
  background: #16473c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  font-size: 17px;
  cursor: pointer;
  transition: 0.15s;
  opacity: 0.9;
  
}

.menu p:hover {
  opacity: 3;
  transform: scale(1.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  
}

/* RIGHT PANEL */
.side-panel {
  width: 290px;
  background: #BBC1B3;
  padding: 18px 14px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  border-right: 1px solid #9da393;
  border-radius: 20px 0 0 20px;
  margin-top: -55px;
  padding-top: 70px;
  
}

.workspace-name {
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 6px;
  border-bottom: 1px solid #8f9585;
}

.side-section {
  background: #e7ebe1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #c7ccb9;
}

.section-title {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 6px;
}

.side-section ul {
  list-style: none;
}

.side-section ul li {
  padding: 6px 4px;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.15s;
}

.side-section ul li:hover {
  background: #d8ded0;
  font-size: 19px;
  font-weight: 500;
  box-shadow: 0 2px 6px black;
}

/* CHAT AREA */
.chat-area {
  flex: 1;
  background: #e7ebe1;
  margin-top: 55px;
  display: flex;
  flex-direction: column;
}

/* CHAT MESSAGES */
.chat-messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  scroll-behavior: smooth;
 
}



/* BUBBLE WRAPPER */
.bubble {
  position: relative;
  margin-bottom: 22px;
  
}

.bubble p {
  padding: 12px 16px;
  border-radius: 14px;
  background: #f5f5f5;
  width: 250px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  margin-top: 4px;
  font-size: 14px;
  position: relative
  ;
}

.garvit-msg p {
  background: #11644c;
  color: white;
  left: 880px;
  /* font-weight: bold; */
}


/* BUBBLE MESSAGE HOVER */
.bubble p, .garvit-msg p {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bubble p:hover, .garvit-msg p:hover{
  transform: scale(1.05) translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;

}




/* INPUT BOX */
.chat-input {
  display: flex;
  padding: 12px;
  border-top: 1px solid #e0e0e0;
  background: #fafafa;
}

.chat-input input {
  flex: 1;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #cecece;
  font-size: 13px;

  /* Left align text */
  text-align: left !important;
}

/* LEFT-ALIGNED PLACEHOLDER */
.chat-input input::placeholder {
  text-align: left !important;
  direction: ltr;
  opacity: 0.6;
}

.chat-input button {
  margin-left: 8px;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  background: #29544B;
  color: white;
}
/* LINKS ETC */
.general {
   text-decoration: none;
  color: black;
}

.mega {
 

  text-decoration: none;
  color: rgb(0, 128, 85); 
  font-weight: bold;
  font-size: 18px;

  
}

html {
  scroll-behavior: smooth;
}

.date-header {
  position: sticky;
  top: 0; /* upar chipka ke rakhega */
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  color: #555;
  background: #d8ded0;
  padding: 4px 10px;
  border-radius: 12px;
  margin: 16px auto;
  width: 100px;
  z-index: 5; /* messages ke upar dikhne ke liye */
}

.theek{
  text-decoration: underline;
  color: blue;
}



.dp {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
  vertical-align: middle;
}

.garvit-msg .dp {
  margin-left: 8px;
  margin-right: 0;
}

img:hover{
  cursor: pointer;
  

}

img:focus{
  transform: scale(20);
  transition: 20ms;
}



.top-header p:hover {
  opacity: 3;
  transform: scale(1.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.top-header p{
  width: 38px;
  height: 38px;
  background: #16473c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  font-size: 17px;
  cursor: pointer;
  transition: 0.15s;
  opacity: 0.9;
  position: relative;
  left: 870px;
}


.menu-icon {
  width: 38px;
  height: 38px;
  background: #16473c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  font-size: 17px;
  cursor: pointer;
  transition: 0.15s;
  opacity: 0.9;
  position: relative;
  left: 870px;
}

.menu-icon:hover {
  opacity: 3;
  transform: scale(1.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.menu-icon a {
  color: white;
  text-decoration: none;
}